# R artifacts
.Rproj.user
.Rhistory
.RData
.Ruserdata
.Rapp.history
.Renviron
*.Rproj
*.tar.gz
*.Rcheck/

# Devtools / pkgdown caches
inst/doc/
/doc/
/Meta/
_pkgdown/

# OS
.DS_Store

# stray plot artifact
Rplots.pdf

# rendered pkgdown site
docs/
